/* Styles for blog layout and light/dark mode toggle button */
.blog-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.toggle-mode {
  background: darkgreen;
  font-size: 1rem;
  border-radius: 50%;
  padding: 5px;
}
